.dub
docs.json
__dummy.html
docs/
/dynamic_engine
dynamic_engine.so
dynamic_engine.dylib
dynamic_engine.a
dynamic_engine.lib
dynamic_engine-test-*
*.exe
*.o
*.obj
*.lst
*.pdb
*.exp
*.lib
*.dll
dub.selections.json
*.i

# Backups and extras
*.blend[0-9]
*~